In [1]:
import pandas as pd
import numpy as np

In [2]:
students_performance = pd.read_csv('StudentsPerformance.csv')

In [3]:
students_performance.gender

0      female
1      female
2      female
3        male
4        male
5      female
6      female
7        male
8        male
9      female
10       male
11       male
12     female
13       male
14     female
15     female
16       male
17     female
18       male
19     female
20       male
21     female
22       male
23     female
24       male
25       male
26       male
27     female
28       male
29     female
        ...
970    female
971      male
972    female
973    female
974    female
975    female
976      male
977      male
978      male
979    female
980    female
981      male
982      male
983    female
984    female
985      male
986    female
987      male
988    female
989    female
990      male
991    female
992    female
993    female
994      male
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [4]:
students_performance.gender == 'female'

0       True
1       True
2       True
3      False
4      False
5       True
6       True
7      False
8      False
9       True
10     False
11     False
12      True
13     False
14      True
15      True
16     False
17      True
18     False
19      True
20     False
21      True
22     False
23      True
24     False
25     False
26     False
27      True
28     False
29      True
       ...
970     True
971    False
972     True
973     True
974     True
975     True
976    False
977    False
978    False
979     True
980     True
981    False
982    False
983     True
984     True
985    False
986     True
987    False
988     True
989     True
990    False
991     True
992     True
993     True
994    False
995     True
996    False
997     True
998     True
999     True
Name: gender, Length: 1000, dtype: bool

In [5]:
students_performance.loc[students_performance.gender == 'female']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
9,female,group B,high school,free/reduced,none,38,60,50
12,female,group B,high school,standard,none,65,81,73
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
17,female,group B,some high school,free/reduced,none,18,32,28
19,female,group C,associate's degree,free/reduced,none,54,58,61
21,female,group B,some college,free/reduced,completed,65,75,70
23,female,group C,some high school,standard,none,69,73,73
27,female,group C,bachelor's degree,standard,none,67,69,75
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
44,female,group E,associate's degree,free/reduced,none,50,56,54
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
56,female,group E,associate's degree,standard,completed,82,85,86
...,...,...,...,...,...,...,...,...
952,female,group E,some high school,free/reduced,none,74,74,72
954,female,group C,some college,standard,none,62,69,69
957,female,group D,master's degree,standard,none,92,100,100
958,female,group D,high school,standard,none,45,63,59
960,female,group A,some college,standard,none,56,58,64
961,female,group D,some high school,free/reduced,none,48,54,53
962,female,group E,associate's degree,standard,none,100,100,100
963,female,group C,some high school,free/reduced,completed,65,76,75
965,female,group D,some college,standard,none,62,70,72
968,female,group E,associate's degree,standard,none,68,76,67
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
986,female,group C,associate's degree,standard,none,40,59,51
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [7]:
students_performance.loc[students_performance.gender == 'female', ['gender', 'writing score']]

     gender  writing score
0    female             74
1    female             88
2    female             93
5    female             78
6    female             92
9    female             50
12   female             73
14   female             58
15   female             78
17   female             28
19   female             61
21   female             70
23   female             73
27   female             75
29   female             75
30   female             74
31   female             61
32   female             65
36   female             83
37   female             59
38   female             88
41   female             68
42   female             65
44   female             54
46   female             62
47   female             76
48   female             76
54   female             87
55   female             43
56   female             86
..      ...            ...
952  female             72
954  female             69
957  female            100
958  female             59
960  female             64
961  female             53
962  female            100
963  female             75
965  female             72
968  female             67
969  female             80
970  female            100
972  female             60
973  female             61
974  female             67
975  female             77
979  female             94
980  female             23
983  female             91
984  female             82
986  female             51
988  female             45
989  female             83
991  female             78
992  female             76
993  female             74
995  female             95
997  female             65
998  female             77
999  female             86

[518 rows x 2 columns]

In [8]:
writing_score = students_performance['writing score'].mean()

In [9]:
students_performance.loc[students_performance['writing score'] > writing_score]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
21,female,group B,some college,free/reduced,completed,65,75,70
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
27,female,group C,bachelor's degree,standard,none,67,69,75
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
56,female,group E,associate's degree,standard,completed,82,85,86
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
63,female,group C,associate's degree,standard,none,69,80,71
67,female,group C,some college,standard,none,60,72,74
...,...,...,...,...,...,...,...,...
946,male,group B,high school,standard,none,82,82,80
949,female,group E,high school,free/reduced,completed,57,75,73
950,male,group E,high school,standard,none,94,73,71
951,female,group D,some college,standard,completed,75,77,83
952,female,group E,some high school,free/reduced,none,74,74,72
954,female,group C,some college,standard,none,62,69,69
956,male,group C,some college,standard,none,84,87,81
957,female,group D,master's degree,standard,none,92,100,100
959,male,group C,high school,standard,none,75,81,71
962,female,group E,associate's degree,standard,none,100,100,100
963,female,group C,some high school,free/reduced,completed,65,76,75
965,female,group D,some college,standard,none,62,70,72
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
975,female,group C,some college,standard,completed,64,82,77
979,female,group C,associate's degree,standard,none,91,95,94
981,male,group D,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
987,male,group E,some high school,standard,completed,81,75,76
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [15]:
students_performance[(students_performance['writing score'] > 60) & students_performance.gender == 'female']

Empty DataFrame
Columns: [gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score]
Index: []

In [16]:
students_performance[(students_performance['writing score'] > 60) & (students_performance.gender == 'female')]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
12,female,group B,high school,standard,none,65,81,73
15,female,group C,some high school,standard,none,69,75,78
19,female,group C,associate's degree,free/reduced,none,54,58,61
21,female,group B,some college,free/reduced,completed,65,75,70
23,female,group C,some high school,standard,none,69,73,73
27,female,group C,bachelor's degree,standard,none,67,69,75
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
54,female,group C,some high school,free/reduced,completed,71,84,87
56,female,group E,associate's degree,standard,completed,82,85,86
63,female,group C,associate's degree,standard,none,69,80,71
67,female,group C,some college,standard,none,60,72,74
70,female,group D,some college,free/reduced,completed,58,63,73
78,female,group D,some high school,standard,completed,61,74,72
79,female,group E,master's degree,standard,none,62,68,68
85,female,group C,some college,standard,none,73,80,82
...,...,...,...,...,...,...,...,...
923,female,group B,associate's degree,free/reduced,none,54,65,65
927,female,group D,high school,free/reduced,completed,65,61,71
941,female,group D,master's degree,standard,none,78,91,96
944,female,group B,high school,standard,none,58,68,61
949,female,group E,high school,free/reduced,completed,57,75,73
951,female,group D,some college,standard,completed,75,77,83
952,female,group E,some high school,free/reduced,none,74,74,72
954,female,group C,some college,standard,none,62,69,69
957,female,group D,master's degree,standard,none,92,100,100
960,female,group A,some college,standard,none,56,58,64
962,female,group E,associate's degree,standard,none,100,100,100
963,female,group C,some high school,free/reduced,completed,65,76,75
965,female,group D,some college,standard,none,62,70,72
968,female,group E,associate's degree,standard,none,68,76,67
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
979,female,group C,associate's degree,standard,none,91,95,94
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
989,female,group D,some college,free/reduced,completed,67,86,83
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [17]:
students_performance.loc[students_performance.lunch == 'free/reduced']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
21,female,group B,some college,free/reduced,completed,65,75,70
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
32,female,group E,master's degree,free/reduced,none,56,72,65
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
48,female,group D,associate's degree,free/reduced,completed,57,74,76
51,male,group E,associate's degree,free/reduced,completed,77,69,68
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
59,female,group C,some high school,free/reduced,none,0,17,10
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
66,male,group D,some high school,free/reduced,none,45,37,37
68,male,group B,associate's degree,free/reduced,none,61,58,56
70,female,group D,some college,free/reduced,completed,58,63,73
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
...,...,...,...,...,...,...,...,...
926,male,group E,associate's degree,free/reduced,none,64,56,52
927,female,group D,high school,free/reduced,completed,65,61,71
928,male,group E,associate's degree,free/reduced,completed,46,43,44
929,female,group C,some high school,free/reduced,none,48,56,51
930,male,group C,some college,free/reduced,completed,67,74,70
931,male,group D,some college,free/reduced,none,62,57,62
932,male,group D,associate's degree,free/reduced,completed,61,71,73
933,male,group C,bachelor's degree,free/reduced,completed,70,75,74
935,male,group D,some college,free/reduced,none,70,63,58
937,female,group E,high school,free/reduced,none,57,58,57
940,male,group C,master's degree,free/reduced,completed,72,66,72
943,male,group A,some high school,free/reduced,completed,61,62,61
947,female,group D,some college,free/reduced,none,49,58,60
948,male,group B,some high school,free/reduced,completed,49,50,52
949,female,group E,high school,free/reduced,completed,57,75,73
952,female,group E,some high school,free/reduced,none,74,74,72
961,female,group D,some high school,free/reduced,none,48,54,53
963,female,group C,some high school,free/reduced,completed,65,76,75
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
976,male,group B,some college,free/reduced,completed,60,62,60
980,female,group B,high school,free/reduced,none,8,24,23
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,free/reduced,none,77,86,86

In [18]:
students_performance = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [19]:
students_performance.loc[students_performance.lunch == 'free/reduced']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
21,female,group B,some college,free/reduced,completed,65,75,70
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
32,female,group E,master's degree,free/reduced,none,56,72,65
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
48,female,group D,associate's degree,free/reduced,completed,57,74,76
51,male,group E,associate's degree,free/reduced,completed,77,69,68
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
59,female,group C,some high school,free/reduced,none,0,17,10
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
66,male,group D,some high school,free/reduced,none,45,37,37
68,male,group B,associate's degree,free/reduced,none,61,58,56
70,female,group D,some college,free/reduced,completed,58,63,73
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
...,...,...,...,...,...,...,...,...
926,male,group E,associate's degree,free/reduced,none,64,56,52
927,female,group D,high school,free/reduced,completed,65,61,71
928,male,group E,associate's degree,free/reduced,completed,46,43,44
929,female,group C,some high school,free/reduced,none,48,56,51
930,male,group C,some college,free/reduced,completed,67,74,70
931,male,group D,some college,free/reduced,none,62,57,62
932,male,group D,associate's degree,free/reduced,completed,61,71,73
933,male,group C,bachelor's degree,free/reduced,completed,70,75,74
935,male,group D,some college,free/reduced,none,70,63,58
937,female,group E,high school,free/reduced,none,57,58,57
940,male,group C,master's degree,free/reduced,completed,72,66,72
943,male,group A,some high school,free/reduced,completed,61,62,61
947,female,group D,some college,free/reduced,none,49,58,60
948,male,group B,some high school,free/reduced,completed,49,50,52
949,female,group E,high school,free/reduced,completed,57,75,73
952,female,group E,some high school,free/reduced,none,74,74,72
961,female,group D,some high school,free/reduced,none,48,54,53
963,female,group C,some high school,free/reduced,completed,65,76,75
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
976,male,group B,some college,free/reduced,completed,60,62,60
980,female,group B,high school,free/reduced,none,8,24,23
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,free/reduced,none,77,86,86

In [20]:
free_reduced_lunch = students_performance.loc[students_performance.lunch == 'free/reduced']
writing_score = free_reduced_lunch.mean()

In [21]:
writing_score

math score       58.921127
reading score    64.653521
writing score    63.022535
dtype: float64

In [22]:
var = free_reduced_lunch.mean()

In [23]:
var = free_reduced_lunch.var()

In [24]:
var

math score       229.824270
reading score    221.871139
writing score    238.202881
dtype: float64

In [25]:
overall_mean = students_performance.mean()

In [26]:
overall_mean

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

In [27]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [28]:
standard_lunch = students_performance.loc[students_performance.lunch == 'standard']

In [29]:
standard_lunch.mean()

math score       70.034109
reading score    71.654264
writing score    70.823256
dtype: float64

In [30]:
standard_lunch.var()

math score       186.418089
reading score    191.285560
writing score    205.620887
dtype: float64

In [32]:
students_performance.rename(columns={
    'parental level of education': 'parental_level_of_education',
    'test preparation course': 'test_preparation_course',
    'math score': 'math_score',
    'writing score': 'writing_score',
    'reading score': 'reading_score'
})

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
978,male,group D,high school,standard,completed,55,41,48
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
981,male,group D,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
987,male,group E,some high school,standard,completed,81,75,76
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [33]:
students_performance

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
978,male,group D,high school,standard,completed,55,41,48
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
981,male,group D,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
987,male,group E,some high school,standard,completed,81,75,76
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [34]:
students_performance = students_performance.rename(columns={
    'parental level of education': 'parental_level_of_education',
    'test preparation course': 'test_preparation_course',
    'math score': 'math_score',
    'writing score': 'writing_score',
    'reading score': 'reading_score'
})

In [35]:
students_performance.math_score

0      72
1      69
2      90
3      47
4      76
5      71
6      88
7      40
8      64
9      38
10     58
11     40
12     65
13     78
14     50
15     69
16     88
17     18
18     46
19     54
20     66
21     65
22     44
23     69
24     74
25     73
26     69
27     67
28     70
29     62
       ..
970    89
971    78
972    53
973    49
974    54
975    64
976    60
977    62
978    55
979    91
980     8
981    81
982    79
983    78
984    74
985    57
986    40
987    81
988    44
989    67
990    86
991    65
992    55
993    62
994    63
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [36]:
students_performance.query("writing_score" > 74)

TypeError: '>' not supported between instances of 'str' and 'int'

In [37]:
students_performance.query("writing_score > 74")

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
27,female,group C,bachelor's degree,standard,none,67,69,75
29,female,group D,master's degree,standard,none,62,70,75
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
56,female,group E,associate's degree,standard,completed,82,85,86
77,male,group A,bachelor's degree,standard,completed,80,78,81
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
89,female,group D,some high school,standard,none,73,86,82
94,female,group B,some college,standard,none,79,86,92
95,male,group C,associate's degree,free/reduced,completed,78,81,82
102,female,group D,associate's degree,standard,none,85,91,89
104,male,group C,some college,standard,completed,98,86,90
106,female,group D,master's degree,standard,none,87,100,100
110,female,group D,associate's degree,free/reduced,completed,77,89,98
...,...,...,...,...,...,...,...,...
907,female,group D,some college,standard,completed,79,84,91
911,female,group A,some college,standard,none,69,84,82
916,male,group E,bachelor's degree,standard,completed,100,100,100
918,female,group C,associate's degree,standard,completed,57,77,80
919,male,group B,some college,standard,completed,91,96,91
934,male,group C,associate's degree,standard,completed,98,87,90
938,male,group D,some college,standard,completed,85,81,85
941,female,group D,master's degree,standard,none,78,91,96
946,male,group B,high school,standard,none,82,82,80
951,female,group D,some college,standard,completed,75,77,83
956,male,group C,some college,standard,none,84,87,81
957,female,group D,master's degree,standard,none,92,100,100
962,female,group E,associate's degree,standard,none,100,100,100
963,female,group C,some high school,free/reduced,completed,65,76,75
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
975,female,group C,some college,standard,completed,64,82,77
979,female,group C,associate's degree,standard,none,91,95,94
981,male,group D,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
987,male,group E,some high school,standard,completed,81,75,76
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [38]:
students_performance.query("gender == 'female' & writing_score > 74")

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
15,female,group C,some high school,standard,none,69,75,78
27,female,group C,bachelor's degree,standard,none,67,69,75
29,female,group D,master's degree,standard,none,62,70,75
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
54,female,group C,some high school,free/reduced,completed,71,84,87
56,female,group E,associate's degree,standard,completed,82,85,86
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
89,female,group D,some high school,standard,none,73,86,82
94,female,group B,some college,standard,none,79,86,92
102,female,group D,associate's degree,standard,none,85,91,89
106,female,group D,master's degree,standard,none,87,100,100
110,female,group D,associate's degree,free/reduced,completed,77,89,98
114,female,group E,bachelor's degree,standard,completed,99,100,100
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
120,female,group C,bachelor's degree,standard,completed,79,92,89
122,female,group C,some college,standard,completed,88,93,93
125,female,group B,high school,standard,none,87,95,86
133,female,group C,some college,standard,completed,75,81,84
148,female,group D,bachelor's degree,standard,completed,68,75,81
155,female,group C,some college,standard,completed,70,89,88
156,female,group E,high school,free/reduced,completed,66,74,78
...,...,...,...,...,...,...,...,...
871,female,group C,some college,standard,completed,70,72,76
878,female,group D,some high school,standard,none,59,72,80
885,female,group C,associate's degree,standard,completed,62,76,80
886,female,group E,associate's degree,standard,completed,93,100,95
890,female,group E,some college,standard,completed,86,85,91
891,female,group E,associate's degree,standard,none,85,92,85
897,female,group B,some high school,free/reduced,completed,63,78,79
899,female,group D,some high school,standard,completed,65,78,82
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100
904,female,group D,some high school,free/reduced,none,67,84,84
907,female,group D,some college,standard,completed,79,84,91
911,female,group A,some college,standard,none,69,84,82
918,female,group C,associate's degree,standard,completed,57,77,80
941,female,group D,master's degree,standard,none,78,91,96
951,female,group D,some college,standard,completed,75,77,83
957,female,group D,master's degree,standard,none,92,100,100
962,female,group E,associate's degree,standard,none,100,100,100
963,female,group C,some high school,free/reduced,completed,65,76,75
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
975,female,group C,some college,standard,completed,64,82,77
979,female,group C,associate's degree,standard,none,91,95,94
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
989,female,group D,some college,free/reduced,completed,67,86,83
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [39]:
students_performance.query("gender == 'female' & math_score > 85")

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
106,female,group D,master's degree,standard,none,87,100,100
114,female,group E,bachelor's degree,standard,completed,99,100,100
122,female,group C,some college,standard,completed,88,93,93
125,female,group B,high school,standard,none,87,95,86
165,female,group C,bachelor's degree,standard,completed,96,100,100
179,female,group D,some high school,standard,completed,97,100,100
229,female,group C,some college,standard,completed,88,95,94
263,female,group E,high school,standard,none,99,93,90
268,female,group D,associate's degree,standard,completed,88,92,95
403,female,group D,high school,standard,completed,88,99,100
451,female,group E,some college,standard,none,100,92,97
458,female,group E,bachelor's degree,standard,none,100,100,100
474,female,group B,associate's degree,standard,completed,90,90,91
501,female,group B,associate's degree,standard,completed,94,87,92
503,female,group E,associate's degree,standard,completed,95,89,92
509,female,group C,bachelor's degree,standard,none,86,92,87
521,female,group C,associate's degree,standard,none,91,86,84
546,female,group A,some high school,standard,completed,92,100,97
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100
594,female,group C,bachelor's degree,standard,completed,92,100,99
685,female,group E,master's degree,standard,completed,94,99,100
712,female,group D,some college,standard,none,98,100,99
717,female,group C,associate's degree,standard,completed,96,96,99
732,female,group C,some college,standard,completed,87,89,94
802,female,group E,associate's degree,standard,none,87,94,95
852,female,group E,some college,standard,none,87,85,93
855,female,group B,bachelor's degree,standard,none,97,97,96
886,female,group E,associate's degree,standard,completed,93,100,95
890,female,group E,some college,standard,completed,86,85,91
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100
957,female,group D,master's degree,standard,none,92,100,100
962,female,group E,associate's degree,standard,none,100,100,100
970,female,group D,bachelor's degree,standard,none,89,100,100
979,female,group C,associate's degree,standard,none,91,95,94
995,female,group E,master's degree,standard,completed,88,99,95

In [40]:
students_performance.query("gender == 'female' & math_score > 85").size

296

In [41]:
students_performance.query("gender == 'female' & math_score > 85").shape

(37, 8)

In [42]:
students_performance.query("gender == 'male' & math_score > 85").shape

(66, 8)

In [43]:
math_score_query = 78
students_performance.query("math_score > @math_score_query").shape

(215, 8)

In [44]:
students_performance[students_performance['parental level of education'].isin(["bachelor's degree", "master's degree"])]

KeyError: 'parental level of education'

In [45]:
students_performance[students_performance['parental_level_of_education'].isin(["bachelor's degree", "master's degree"])]

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
14,female,group A,master's degree,standard,none,50,53,58
18,male,group C,master's degree,free/reduced,completed,46,42,46
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
27,female,group C,bachelor's degree,standard,none,67,69,75
29,female,group D,master's degree,standard,none,62,70,75
32,female,group E,master's degree,free/reduced,none,56,72,65
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
77,male,group A,bachelor's degree,standard,completed,80,78,81
79,female,group E,master's degree,standard,none,62,68,68
90,female,group C,bachelor's degree,standard,none,65,72,74
99,female,group D,bachelor's degree,standard,none,65,67,62
101,male,group D,bachelor's degree,standard,completed,68,74,74
106,female,group D,master's degree,standard,none,87,100,100
114,female,group E,bachelor's degree,standard,completed,99,100,100
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
120,female,group C,bachelor's degree,standard,completed,79,92,89
128,male,group D,master's degree,standard,none,82,82,74
129,female,group A,bachelor's degree,standard,none,51,49,51
130,male,group D,master's degree,standard,none,89,84,82
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
148,female,group D,bachelor's degree,standard,completed,68,75,81
151,male,group A,bachelor's degree,standard,none,77,67,68
153,male,group D,bachelor's degree,standard,none,54,49,47
162,male,group B,master's degree,free/reduced,none,49,53,52
164,female,group E,master's degree,standard,none,81,92,91
...,...,...,...,...,...,...,...,...
832,male,group A,bachelor's degree,standard,none,64,60,58
845,male,group E,master's degree,standard,none,90,85,84
846,male,group C,master's degree,standard,completed,91,85,85
850,male,group C,master's degree,standard,none,71,67,67
855,female,group B,bachelor's degree,standard,none,97,97,96
857,female,group C,bachelor's degree,standard,none,65,79,81
861,female,group E,master's degree,free/reduced,none,81,86,87
862,male,group D,bachelor's degree,free/reduced,completed,39,42,38
874,female,group C,bachelor's degree,free/reduced,none,43,62,61
880,male,group C,bachelor's degree,standard,completed,63,64,66
881,female,group E,bachelor's degree,standard,completed,71,70,70
883,male,group D,bachelor's degree,free/reduced,none,55,46,44
892,female,group A,master's degree,free/reduced,none,50,67,73
900,male,group D,master's degree,standard,none,85,84,89
901,female,group C,master's degree,standard,none,73,78,74
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100
908,female,group C,bachelor's degree,free/reduced,none,67,75,72
909,male,group E,bachelor's degree,standard,completed,70,64,70
910,male,group D,bachelor's degree,free/reduced,none,50,42,48
912,female,group C,bachelor's degree,standard,completed,52,61,66
913,female,group C,bachelor's degree,free/reduced,completed,47,62,66
916,male,group E,bachelor's degree,standard,completed,100,100,100
933,male,group C,bachelor's degree,free/reduced,completed,70,75,74
940,male,group C,master's degree,free/reduced,completed,72,66,72
941,female,group D,master's degree,standard,none,78,91,96
957,female,group D,master's degree,standard,none,92,100,100
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95

In [46]:
students_performance.filter(like='score')

     math_score  reading_score  writing_score
0            72             72             74
1            69             90             88
2            90             95             93
3            47             57             44
4            76             78             75
5            71             83             78
6            88             95             92
7            40             43             39
8            64             64             67
9            38             60             50
10           58             54             52
11           40             52             43
12           65             81             73
13           78             72             70
14           50             53             58
15           69             75             78
16           88             89             86
17           18             32             28
18           46             42             46
19           54             58             61
20           66             69             63
21           65             75             70
22           44             54             53
23           69             73             73
24           74             71             80
25           73             74             72
26           69             54             55
27           67             69             75
28           70             70             65
29           62             70             75
..          ...            ...            ...
970          89            100            100
971          78             72             69
972          53             50             60
973          49             65             61
974          54             63             67
975          64             82             77
976          60             62             60
977          62             65             58
978          55             41             48
979          91             95             94
980           8             24             23
981          81             78             78
982          79             85             86
983          78             87             91
984          74             75             82
985          57             51             54
986          40             59             51
987          81             75             76
988          44             45             45
989          67             86             83
990          86             81             75
991          65             82             78
992          55             76             76
993          62             72             74
994          63             63             62
995          88             99             95
996          62             55             55
997          59             71             65
998          68             78             77
999          77             86             86

[1000 rows x 3 columns]